extends layout 
block content 
    h1 #{title}: #{bookinstance._id} 
    p #[strong Do you really want to delete this book instance?]
        form(method="POST" action="")
            div.form-group
                input#bookinstanceid.form-control(type="hidden" value=bookinstance._id name="bookinstanceid" required="true")
                button.btn.btn-primary(type='submit') Delete